# Ambientes virtuais
.venv/
venv/

# Arquivos de configuração locais
.env
*.env

# Cache do Python
__pycache__/
*.py[cod]
*.sqlite3

# dbt
dbt_packages/
target/
logs/

# VS Code
.vscode/

# Dados temporários
*.csv
*.xlsx
*.zip
data/

